footer {
  padding: 100px 0;
  margin-top: 100px;
  background-color: var(--bg-3);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.icon-cont {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phrase-cont {
  margin-bottom: 30px;
  color: white;

  .phrase {
    font-weight: bold;
    font-style: italic;
  }

  .author {
    font-size: var(--fs-base);
  }
}
