.main-content {
  margin: 60px 0;
}

.grid-content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 40px;

  .grid-left-col {
    grid-column: span 4;
  }

  .grid-right-col {
    grid-column: span 8;
  }
}

@media (max-width: 768px) {
  .colIzquierda,
  .colDerecha {
    grid-column: span 12;
  }
}
