.main-content {
  margin: 60px 0;
}

.grid-content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 40px;

  .grid-left-col {
    grid-column: span 4;

    /*TODO Refactorize page so we can use this style */
    /* display: flex;
    flex-direction: column;
    gap: 20px; */
  }

  .grid-right-col {
    grid-column: span 8;

    /*TODO Refactorize page so we can use this style */
    /* display: flex;
    flex-direction: column;
    gap: 20px; */
  }
}

@media (max-width: 768px) {
  .colIzquierda,
  .colDerecha {
    grid-column: span 12;
  }
}
