:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --primary: #e11616;
  --bg-1: #ffffff;
  --bg-2: #ffe5e5;
  --bg-3: #2e2e2e;
  --text: #4f4f4f;
  --text-strong: #191919;
  --subtle: #989898;

  --fs-sm: 0.8rem;
  --fs-base: 1rem;
  --fs-md: 1.25rem;
  --fs-lg: 1.563rem;
  --fs-xl: 1.953rem;
  --fs-xxl: 2.441rem;

  --mq-join-columns: 1000px;
}

body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--bg-1);
  color: var(--text);
}

.container {
  padding: 0 12rem;

  /* Adds max size to the container for really big screens */
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 1600px) {
  .container {
    padding: 0 7rem;
  }
}

@media (max-width: 1400px) {
  .container {
    padding: 0 6rem;
  }
}

@media (max-width: 1200px) {
  .container {
    padding: 0 4rem;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 2rem;
  }
}

h1,
h2,
h4,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

p {
  font-size: var(--fs-md);
}

h2 {
  font-size: var(--fs-lg);
}
