:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --primary: #e11616;
  --bg-1: #ffffff;
  --bg-2: #ffe5e5;
  --text: #6b6b6b;
  --test-strong: #191919;

  --fs-sm: 0.8rem;
  --fs-base: 1rem;
  --fs-md: 1.25rem;
  --fs-lg: 1.563rem;
  --fs-xl: 1.953rem;
  --fs-xxl: 2.441rem;
}

body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--bg-1);
}

.container {
  padding: 0 7.5rem;
}

/* Responsivo: Si la pantalla es pequeña, 120px es mucho. Bajamos el margen. */
@media (max-width: 768px) {
  .container {
    padding: 0 1.5rem; /* Margen de 24px en móviles */
  }
}
