:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --primary: #e11616;
  --bg-1: #ffffff;
  --bg-2: #ffe5e5;
  --text: #4f4f4f;
  --text-strong: #191919;
  --subtle: #b4b4b4;

  --fs-sm: 0.8rem;
  --fs-base: 1rem;
  --fs-md: 1.25rem;
  --fs-lg: 1.563rem;
  --fs-xl: 1.953rem;
  --fs-xxl: 2.441rem;
}

body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--bg-1);
  color: var(--text);
}

.container {
  padding: 0 12rem;
}

/* Responsivo: Si la pantalla es pequeña, 120px es mucho. Bajamos el margen. */
@media (max-width: 768px) {
  .container {
    padding: 0 1.5rem; /* Margen de 24px en móviles */
  }
}

h1,
h2,
h4,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

p {
  font-size: var(--fs-md);
}

h2 {
  font-size: var(--fs-lg);
}
